{
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": ["transform-flow-comments", "transform-object-rest-spread"]
}
