{
  "comments": false,
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        },
        "shippedProposals": true
      }
    ]
  ],
  "plugins": ["transform-flow-comments"]
}
